// Screens of 480px and more

@media screen and (min-width: 480px) {
  .hero-home {
    display: flex;
    background: linear-gradient(to bottom, #fff, #f5f6fa);
    height: 680px;
  }
  .container-hero {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 48px;
    width: 100%;
  }
  .title-1 {
    font-size: 52px;
  }
  .padding-section {
    padding-top: 156px;
  }
  .subtext-hero {
    font-size: 20px;
  }
  .text-home-container {
    align-self: center;
    flex: 1;
    max-width: 50%;
  }
  .hide-desktop {
    display: none;
  }
  .img-hero {
    position: absolute;
    height: 700px;
    right: 0;
  }
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .review {
    width: 320px;
  }
  #carouselReviews {
    display: none;
  }
  .feature {
    display: flex;
    max-width: 1024px;
    margin: auto;
    align-items: center;
    padding-top: 120px;
  }
  .feature__img {
    width: 492px;
  }
  .feature__text {
    margin-right: 34px;
    margin-left: 34px;
  }
  .feature__btn {
    margin-top: 40px;
  }
  .cards-home {
    justify-content: space-between;
  }
  .cta-home-bottom {
    margin-top: 160px;
  }
  .cta-home-buttons .btn {
    margin: 10px;
  }
}

// Tablets

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .text-home-container {
    margin-left: 40px;
    z-index: 100;
    max-width: 70%;
  }
  .img-hero {
    top: 20px;
    left: 0;
  }
  .feature__img {
    width: 390px;
  }
  .title-1 {
    font-size: 46px;
  }
  .container-hero-img {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 680px;
  }
  .card {
    margin: 20px auto;
  }
  .review {
    margin-top: 30px;
  }
}

// Less than 480px (mobile)

@media screen and (max-width: 480px) {
  .title-1 {
    font-size: 42px;
  }
  .subtext-hero {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
  }
  .title-1 {
    text-align: center;
  }
  .hide-mobile {
    display: none;
  }
  .img-hero {
    width: 340px;
    height: 190px;
    margin: auto;
    display: block;
  }
  .container-hero {
    padding-top: 120px;
  }
  .container-hero-img {
    margin-bottom: 50px;
  }
  #section-home-2 {
    padding-top: 64px;
  }
  .hero-home {
    height: 100vh;
  }
  .reviews {
    display: none;
  }
  .clients-list {
    width: 100vw;
  }
  .feature__img {
    width: 100vw;
  }
  .margin-container-home {
    margin: 0px 24px;
  }
  .cards-home {
    justify-content: center;
  }
  .card {
    margin-top: 32px;
  }
  .cta-home-bottom {
    margin: 60px 24px;
  }
  .cta-home-buttons .btn {
    width: 100%;
  }
  .feature__text__p {
    margin: 32px 24px;
    color: $gray;
  }
  .feature .btn {
    width: 80%;
    margin: 80px auto;
  }
}


// General

.shape-separator {
  position: absolute;
  height: auto;
  width: 100vw;
  bottom: 0;
}

.title-1 {
  font-weight: 200;
  margin-bottom: 32px;
}

.title-1--purple {
  color: $purple;
}

.hero-home {
  position: relative;
}

#section-home-2 {
  background-color: white;
}

#section-home-3 {
  background-image: linear-gradient(180deg, #F5F6FA 0%, rgba(245, 246, 250, 0.0001) 100%);
  padding-top: 70px;
}

#section-home-4 {
  background-image: linear-gradient(180deg, #F5F6FA 0%, rgba(245, 246, 250, 0.0001) 100%);
  padding: 140px 0px;
  max-width: 1024px;
  margin: auto;
}

.clients-list {
  margin: 80px auto;
  display: block;
  width: 90vw;
}

.review {
  box-shadow: 0px 15px 50px rgba(28, 15, 125, 0.05);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtext-hero {
  line-height: 32px;
  color: $gray;
}

.carousel-indicators .active {
  background-color: $purple;
}

.cards-home {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card {
  box-shadow: 0px 15px 50px rgba(28, 15, 125, 0.05);
  border-radius: 8px;
  background: white;
  border: none;
  width: 320px;
  padding: 32px 40px;
}
.card__icon {
  width: 150px;
  display: block;
  margin: auto;
}

.card__text {
  text-align: center;
  h3 {
    color: #1B1E2B;
    font-size: 20px;
    font-weight: 500;
  }
  p {
    line-height: 32px;
    color: #6A6F85;
  }
}

.cta-home-bottom {
  text-align: center;
}

.review__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.review__name {
  margin-left: 25px;
  margin-bottom: 0px;
}
