@media screen and (max-width: 480px) {
  .footer__links__group {
    width: 40%;
    margin: 12px 10px;
  }
  .footer {
    padding: 35px 24px;
  }
}

@media screen and (min-width: 480px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
  }
  .footer__brand {
    width: 25%;
  }
  .footer__socials {
    width: 20%;
  }
  .footer__links__group {
    margin: 0 20px;
    width: 22%;
  }
  .footer__links {
    width: 52%;
    padding-left: 50px;
  }
}

// Global CSS

.footer {
  background: #FAFAFC;
  width: 100vw;
}

.footer__logo {
  width: 130px;
  margin-bottom: 20px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
}

.footer__socials__icon {
  font-size: 14px;
  color: #B8BCCC;
}

.footer__socials__border-right {
  border-right: 1px solid rgb(220,220,220);
  padding-right: 10px;
}

.footer__links__group {
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  a {
    color: #6A6F85;
  }
  h4 {
    font-size: 16px;
  }
}
