.form--newsletter {
  display: flex;
  align-items: center;
  margin-top: 50px;
  .form-group {
    margin-bottom: 0;
  }
}

.form--newsletter__input {
  border: none;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 480px) {
  .form--newsletter__input {
    width: 75vw;
  }
}

@media screen and (min-width: 480px) {
  .form--newsletter__input {
    width: 15.5vw;
  }
}


