@media screen and (max-width: 480px) {
 .logo-home {
    width: 80px;
  }
}

@media screen and (min-width: 480px) {
  .logo-home {
    width: 50px;
    margin-right: 70px;
  }
  .navbar-login-links {
    margin-left: auto;
  }
  .navbar-menu-links {
    width: 90vw;
  }
}

.navbar {
  height: 88px;
  position: fixed;
  width: 100%;
  z-index: 100;
}


.navbar-white {
  background: white;
}

.navbar-transparent {
  background: transparent;
}

